=flash
  position: relative
  padding: 15px 20px
  background: #fff
  color: #999
  border: 1px solid #a5c8e5
  +border-radius(3px)
  color: #a5c8e5

    
=flash-skin($color: #a5c8e5)
  border-color: $color
  color: $color