=navigation
  list-style: none
  font-size: 0
  margin-left: 0
  padding-left: 0
  li
    display: inline-block
    font-size: 0.9375rem
    a
      display: inline-block
      color: #777
      padding: 10px 20px
      +transition(color .3s)
      &:hover, &.active
        color: #000
      &.active
        background: rgba(250, 250, 250, 1)
