=table
  width: 100%
  td, th
    border: 1px solid #eee
  td
    padding: 10px 15px
  th
    padding: 15px
    background: #fff
    border-bottom: 2px solid #eee
    font-weight: bold
    text-align: left
  tr
    background: #fff
  tr:nth-child(odd)
    background: #fbfbfb