/*----------------------------------------------------------------*/
/*
/*  Project: ApplePie
/*  Version: 0.1.0
/*  Last change: 24/10/2013
/*  Primary use: Defining projects typo
/*----------------------------------------------------------------*/
html
  font-size: 1em

body
  font-family: Verdana, Geneva, sans-serif
  font-size: 0.875rem
  line-height: 1.5
  color: #555

h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin: 0

h1
  font-size: 2.25rem

h2
  font-size: 1.875rem

h3
  font-size: 1.5rem

h4
  font-size: 1.125rem
  line-height: 2rem

h5
  font-size: 1rem
  line-height: 1rem

h6
  font-size: 0.8125rem
  text-transform: uppercase
  line-height: 1rem

p
  margin: 0 0 1rem 0

strong
  font-weight: 700

small
  font-size: 0.75rem

a
  color: #3699d2
  text-decoration: none
  &:hover
    color: #226e99

ul, ol
  margin-left: 1.5rem
  padding-left: 0
