.banner {
  color: #fff;
  background-image: linear-gradient(30deg,#2276ad,#6ec654);
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.brand {
  font-size: 1.875rem;
  color: #333;
  float: left;
  margin: 3px 20px 0 0;
}

main.body {
  padding-top: 49px;
}

section {
  padding: 50px 0;
}

section.secondary {
  background: #f8f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

footer.footer {
  padding: 20px;
  background: #f8f8f8;
  border-top: 1px solid #eeeeee;
}